<% include parts/header.ejs %>

<div class="container-xl" ng-controller="communityController">
  <div class="row">
    <h1>Community posts</h1>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-sm-2">
      <form>
        <div class="form-row">
          Tags:
        </div>
        <div class="form-row">
          <textarea class="form-control" rows="3" id="postTags" ng-model="filter.tags" placeholder="Start typing to filter by tag"></textarea>
        </div>

        <div class="form-row">
          Authors:
        </div>
        <div class="form-row">
          <textarea class="form-control" rows="3" id="postAudience" ng-model="filter.authors" placeholder="Start typing to filter by author"></textarea>
        </div>

        <div class="form-row">
          Secrecy:
        </div>
        <div class="form-row">
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="check-top-secret" ng-model="filter.topsecret" value="{{ true }}" />
            <label class="custom-control-label" for="check-top-secret">Top secret</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="check-sensitive" ng-model="filter.sensitive" value="{{ true }}" />
            <label class="custom-control-label" for="check-sensitive">Sensitive</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="check-safe" ng-model="filter.safe" value="{{ true }}" />
            <label class="custom-control-label" for="check-safe">Safe to share</label>
          </div>
        </div>

        <div class="form-row">&nbsp;</div>
        <div class="form-row">
          <button type="button" class="btn btn-primary" ng-click="updateFilter()">Update</button>
        </div>
      </form>
    </div>

    <div class="col-xl-10">
      <div class="row">
        <% include parts/communityboard.ejs %>
      </div>
      <div class="row">&nbsp;</div>
      <div class="row">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-success" ng-disabled="!board.hasMore" ng-click="nextPage()">Next page</button>
          <button type="button" class="btn btn-primary" ng-disabled="!board.hasPrevious" ng-click="previousPage()">Previous page</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/isaApp/js/community.js"></script>

<% include parts/footer.ejs %>
