<% include parts/header.ejs %>

<div class="container-xl" ng-controller="communityController">
  <div class="row">
    <h1>Community posts</h1>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-sm-2">
      <form>
        <div class="form-row">
          Tags:
        </div>
        <div class="form-row">
          <textarea class="form-control" rows="3" name="tags" ng-model="filter.tags" placeholder="Start typing to filter by tag"></textarea>
        </div>

        <div class="form-row">
          Authors:
        </div>
        <div class="form-row">
          <textarea class="form-control" rows="3" name="authors" ng-modal="filter.authors" placeholder="Start typing to filter by author"></textarea>
        </div>

        <div class="form-row">
          Secrecy:
        </div>
        <div class="form-row">
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="top-secret" name="top-secret" ng-modal="filter.sensitivity" checked />
            <label class="custom-control-label" for="top-secret">Top secret</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="sensitive" name="sensitive" ng-modal="filter.sensitivity" checked />
            <label class="custom-control-label" for="sensitive">Sensitive</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="safe" name="safe" ng-modal="filter.sensitivity" checked />
            <label class="custom-control-label" for="safe">Safe to share</label>
          </div>
        </div>
      </form>
    </div>

    <div class="col-sm-6">
      <% include parts/communityboard.ejs %>
    </div>
  </div>
</div>

<script src="/isaApp/js/community.js"></script>

<% include parts/footer.ejs %>
