<% include parts/header.ejs %>

<div class="container-xl">
  <div class="row">
    <h1>Community posts</h1>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-sm-2">
      <div class="form-group">
        Tags:
        <div class="row">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" name="tag1" id="tag1" />
            <label for="tag1" class="form-check-label">tag1</label>
          </div>
        </div>
        <div class="row">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" name="tag2" id="tag2" />
            <label for="tag2" class="form-check-label">tag2</label>
          </div>
        </div>
        <div class="row">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" name="tag3" id="tag3" />
            <label for="tag3" class="form-check-label">tag3</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        Authors:
        <div class="row">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" name="a123" id="a123" />
            <label for="a123" class="form-check-label">Scott Chegg</label>
          </div>
        </div>
        <div class="row">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" name="b123" id="b123" />
            <label for="b123" class="form-check-label">Bob Bobbins</label>
          </div>
        </div>
        <div class="row">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" name="c123" id="c123" />
            <label for="c123" class="form-check-label">Paul Theotherone</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        Secrecy:
        <div class="row">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" name="top-secret" id="top-secret" />
            <label for="top-secret" class="form-check-label">Top secret</label>
          </div>
        </div>
        <div class="row">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" name="sensitive" id="sensitive" />
            <label for="sensitive" class="form-check-label">Sensitive</label>
          </div>
        </div>
        <div class="row">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" name="safe" id="safe" />
            <label for="safe" class="form-check-label">Safe to share</label>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="container">
        <ul class="list-group">
          <li class="list-group-item list-group-item-danger">SQL injection exfiltration<small> by Bob Bobbins</small></li>
          <li class="list-group-item list-group-item-warning">Network probe<small> by Scott Chegg</small></li>
          <li class="list-group-item list-group-item-danger">Active directory breech on corporate network<small> by Hugh G Mistake</small></li>
          <li class="list-group-item list-group-item-warning">Spear phishing targetting support teams<small> by Arthur Biscuit</small></li>
          <li class="list-group-item list-group-item-danger">Rootkit found on production servers<small> by Julie Vemealone</small></li>
          <li class="list-group-item list-group-item-success">Blocking USB ports at operating system level<small> by Scott Chegg</small></li>
          <li class="list-group-item list-group-item-danger">SIM Swap attack on 2FA<small> by IT Administrator</small></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<% include parts/footer.ejs %>
