<% include parts/header.ejs %>

<div class="container">
  <div class="row">
    <div class="col-sm">
        <h1>infosec<strong>aware</strong></h1>
        <p>infosec<strong>aware</strong> is a portal for sharing and solving information security risks and events.</p>
        <p>Please log in with your username and password.</p>
    </div>
    <div class="col-sm">
      <form method="POST" action="/login">
        <div class="container">
          <div class="row">
            <label for="email">Email address:</label>
          </div>
          <div class="row">
            <input type="text" class="form-control" id="email" name="email" placeholder="email@address.com" value="<% if (refill.email) { %><%= refill.email %><% } %>" />
          </div>
          <div class="row">&nbsp;</div>
          <div class="row">
            <label for="password">Password:</label>
          </div>
          <div class="row">
            <input type="password" class="form-control" id="password" name="password" placeholder="mypassword" />
          </div>
          <div class="row">&nbsp;</div>
          <div class="row">
            <input class="btn btn-primary" type="submit" value="Login" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<% include parts/footer.ejs %>
