<% include parts/header.ejs %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h1>Welcome, <%= authUser.fullname %></h1>
      <div class="container">
        <div class="row">
          <p>Raising an issue with infosec<strong>aware</strong> will help you share your concern with other users within the community. Members can offer advice or solutions or confirm their experiences with the same problem. Don't worry; you can redact your identity or choose to share with a select group of members if you wish.</p>
          <button class="btn btn-primary" data-toggle="modal" data-target="#raiseIssueModal">Raise an issue</button>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
          <p>View community posts. Some of these posts may be shared specifically with you or a group. You can read, comment and rank a post if you wish.</p>
          <a href="/community" class="btn btn-success">Go to community</a>
        </div>
      </div>
      <div class="container">
        &nbsp;
      </div>
      <div class="container">
        <div id="tagcloud">
          <a href="#" rel="4"><span>ssh<sup>4</sup></span></a>
          <a href="#" rel="2"><span>docker<sup>2</sup></span></a>
          <a href="#" rel="5"><span>ddos<sup>5</sup></span></a>
          <a href="#" rel="5"><span>php<sup>5</sup></span></a>
          <a href="#" rel="4"><span>mysql<sup>4</sup></span></a>
          <a href="#" rel="3"><span>drupal<sup>3</sup></span></a>
          <a href="#" rel="2"><span>xss<sup>2</sup></span></a>
          <a href="#" rel="2"><span>wordpress<sup>2</sup></span></a>
        </div>
        <script>
          $(document).ready($(function () {
            $("#tagcloud a").tagcloud({
              color: {
                start: '#1c5866',
                end: '#661c49'
              }
            })
          }))
        </script>
      </div>
    </div>
    <div class="col-sm">
      <h2>Recent posts...</h2>

      <div class="container">
        <ul class="list-group">
          <li class="list-group-item list-group-item-danger">SQL injection exfiltration<small> by Bob Bobbins</small></li>
          <li class="list-group-item list-group-item-warning">Network probe<small> by Scott Chegg</small></li>
          <li class="list-group-item list-group-item-danger">Active directory breech on corporate network<small> by Hugh G Mistake</small></li>
          <li class="list-group-item list-group-item-warning">Spear phishing targetting support teams<small> by Arthur Biscuit</small></li>
          <li class="list-group-item list-group-item-danger">Rootkit found on production servers<small> by Julie Vemealone</small></li>
          <li class="list-group-item list-group-item-success">Blocking USB ports at operating system level<small> by Scott Chegg</small></li>
          <li class="list-group-item list-group-item-danger">SIM Swap attack on 2FA<small> by IT Administrator</small></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<% include parts/raiseIssue.ejs %>

<% include parts/footer.ejs %>
