<% include parts/header.ejs %>

<div class="container-fluid" ng-controller="landingController">
  <div class="row">
    <div class="col-sm">
      <h1>Welcome, <%= authUser.fullname %></h1>
      <div class="container">
        <div class="row">
          <p>Raising an issue with infosec<strong>aware</strong> will help you share your concern with other users within the community. Members can offer advice or solutions or confirm their experiences with the same problem. Don't worry; you can redact your identity or choose to share with a select group of members if you wish.</p>
          <button class="btn btn-primary" data-toggle="modal" data-target="#raiseIssueModal">Raise an issue</button>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
          <p>View community posts. Some of these posts may be shared specifically with you or a group. You can read, comment and rank a post if you wish.</p>
          <a href="/community" class="btn btn-success">Go to community</a>
        </div>
      </div>
      <div class="container">
        &nbsp;
      </div>
      <div class="container">
        <div class="form-row">Tag cloud:</div>
        <div id="tagcloud" class="form-row">
          <a ng-repeat="tag in tagData" href="#" rel="{{ tag.count }}"><span>{{ tag._id }}<sup>{{ tag.count }}</sup></span></a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <h2>Recent posts...</h2>

      <div class="container" ng-controller="communityController">
        <% include parts/communityboard.ejs %>
      </div>
    </div>
  </div>
</div>

<script src="/isaApp/js/community.js"></script>
<script src="/isaApp/js/landing.js"></script>

<% include parts/footer.ejs %>
