<div class="modal fade" id="raiseIssueModal" tabindex="-1" role="dialog" aria-labelledby="raiseIssueHeader" aria-hidden="true" ng-controller="raiseIssueController">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="raiseIssueHeader">Raise an issue with the infosec<strong>aware</strong> community</h5>
        <button type="button" class="close" data-dismiss="modal" ng-click="reset()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <div class="row">
                  Sensitivity:
                </div>
                <div class="row">
                  <ul class="list-group">
                    <label><li class="list-group-item list-group-item-danger">
                      <input class="form-check-input" type="radio" name="sharingSecrecy" ng-model="post.sharingSecrecy" value="top-secret" id="top-secret" checked />
                      Top secret (do not share; may contain company identifiable information)
                    </li></label>
                    <label><li class="list-group-item list-group-item-warning">
                      <input class="form-check-input" type="radio" name="sharingSecrecy" ng-model="post.sharingSecrecy" value="sensitive" id="sensitive" />
                      Sensitive (information may be paraphrased elsewhere but not directly copied)
                    </li></label>
                    <label><li class="list-group-item list-group-item-success">
                      <input class="form-check-input" type="radio" name="sharingSecrecy" ng-model="post.sharingSecrecy" value="safe" id="safe" />
                      Safe to share (no personal nor identifiable information)
                    </li></label>
                  </ul>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                  Post title:
                </div>
                <div class="row">
                  <input type="text" class="form-control" name="title" ng-model="post.postTitle" placeholder="My infosec issue is..." />
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                  Message:
                </div>
                <div class="row">
                  <textarea class="form-control" rows="10" ng-model="post.postBody" placeholder="Hello..."></textarea>
                </div>
              </div>
              <div class="col-sm" style="padding-left: 3em">
                <div class="row">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="anonymous" ng-model="post.postAnonymity" id="anonymous" />
                    <label for="anonymous" class="form-check-label">Post anonymously?</label>
                  </div>
                </div>
                <div class="row">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="limit" ng-model="post.enableLimitedAudience" id="limit" />
                    <label for="limit" class="form-check-label">Limit access to:</label>
                  </div>
                  <textarea class="form-control" rows="5" ng-model="post.postAudience" placeholder="Type names/groups here"></textarea>
                </div>
                <div class="row">
                  Tags:
                </div>
                <div class="row">
                  <textarea class="form-control" rows="3" ng-model="post.postTags" placeholder="Type tags here, comma separated"></textarea>
                </div>
                <div class="row">
                  {{ enableLimitedAudience }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" ng-click="reset()" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" ng-click="submit(post)">Raise issue</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/isaApp/js/raiseIssue.js"></script>
