<div class="modal fade" id="viewIssueModal" tabindex="-1" role="dialog" aria-labelledby="viewIssueHeader" aria-hidden="true" ng-controller="viewIssueController">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewIssueHeader">{{ issue.title }}<small> (by {{ issue.authorData[0].fullname }})</small></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <!-- left -->
              <div class="form-row">Posted on {{ issue.postedDate | date:'dd/MM/yyyy @ HH:mm' }}</div>
              <div class="form-row">
                <div ng-if="issue.sensitivity == 'top-secret'" role="alert" class="alert alert-danger">
                  Top-secret: Please do not share this issue outside of infosecaware
                </div>
                <div ng-if="issue.sensitivity == 'sensitive'" role="alert" class="alert alert-warning">
                  Sensitive: If sharing, paraphrase and redact for anonymity
                </div>
                <div ng-if="issue.sensitivity == 'safe'" role="alert" class="alert alert-success">
                  Safe: Sharing is permitted, personal or identifiable information absent
                </div>
              </div>
              <div class="form-row">
                <textarea class="form-control" rows="15" readonly>{{ issue.message }}</textarea>
              </div>
              <div class="form-row">Tags:</div>
              <div class="form-row">
                <textarea class="form-control" rows="2" readonly>{{ issue.tagList.join(', ') }}</textarea>
              </div>
              <div class="form-row">&nbsp;</div>
              <div class="form-row">
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-success">👍 ({{ votes.up }})</button>
                  <button type="button" class="btn btn-danger">👎 ({{ votes.down }})</button>
                </div>
              </div>
            </div>

            <div class="col-sm">
              <!-- right -->
              <div class="form-row">Comments:</div>
              <div class="form-row">
                <textarea class="form-control" rows="4" ng-model="comment" placeholder="Write your reply here..."></textarea>
              </div>
              <div class="form-row comment-button">
                <button type="button" class="btn btn-success" ng-click="submitComment()">Post comment</button>
              </div>
              <div class="form-row">&nbsp;</div>
              <div class="form-row">
                <div class="comment-area">
                  <div class="form-row" ng-repeat="comment in issue.comments">
                    <p>Comment by {{ comment.authorData[0].fullname }} on {{ comment.postedDate | date:'dd/MM/yyyy @ HH:mm' }}</p>
                    <p ng-bind-html="comment.comment | nl2br"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="/isaApp/js/viewIssue.js"></script>
