.dropdown {
    z-index: 1051;
}

li.list-issue:hover {
    cursor: pointer;
}

a.hreflessLink:hover {
    cursor: pointer;
}

div.comment-area {
    height: 75%;
    overflow-y: scroll;
    padding-left: 5px;
    padding-right: 5px;
}

div.comment-area .form-row {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

div.comment-area .form-row p {
    width: 100%;
}

div.comment-area .form-row:nth-child(even) {
    background-color: #eeeeee;
}

div.comment-area .form-row:nth-child(odd) {
    background-color: #dddddd;
}

div.comment-button {
    margin-top: 5px;
}

span.votes {
    float: right;
}
